{% extends "home/base.html" %}
{% load static %}
{% block body %}

	<section class="welcome-area" id="desktop">

		<div class="welcome-slides owl-carousel">

			<div class="single-welcome-slide bg-img bg-overlay jarallax" style="position: relative;">
				<video playsinline autoplay muted loop id="myVideo" style="width: 100%; position: relative; z-index: 0;">
					<source src="{%static 'home/esummitlrweb.mp4' %}" type="video/mp4">
				</video>
				<!-- <div class="container h-100" style="position: absolute; top: 10%; right: 10%; z-index: 99;">
					<div class="row h-100 align-items-center">
						<div class="col-12">
							<div class="welcome-text text-right">
								<h2 data-animation="fadeInUp" data-delay="300ms">E-SUMMIT <br>2021</h2>


								<div class="input-group" style="position: absolute; right: 0px;">
									<input type="text" name="email" value="" required="required" placeholder="Email" />
									<label for="text-1542372332072" style="margin-bottom: 0;">Email</label>

								</div>
								<br><br><br><br>
								<div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
									<a href="#" class=" confer-btn">Subscribe Now <i
											class="zmdi zmdi-long-arrow-right"></i></a>
								</div> 
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>

		<div class="icon-scroll" id="scrollDown"></div>
	</section>


	<section class="welcome-area" id="mobile">
		<div class="welcome-slides owl-carousel owl-loaded owl-drag">

			<div class="single-welcome-slide bg-img bg-overlay jarallax"
				style="background-color: black; position: relative;">
				<video autoplay muted loop id="myVideo"
					style="width: 100%; position: relative; margin-top: 13vh; z-index: 0;">
					<source src="{%static 'home/esummitlrweb.mp4' %}" type="video/mp4">
				</video>
			</div>
		</div>

		<div class="icon-scroll" id="scrollDown"></div>
	</section>


	<section class="our-blog-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url(img/bg-img/17.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-12">
					
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
						<div class="single-blog-thumb">
							<img src="img/bg-img/18.jpg" alt="">
						</div>
						<div class="single-blog-text text-center">
							<img style="height: 15em; width: 15em;" src="{% static 'home/EDC.png' %}">
							<a class="blog-title" href="#">Street Food Convention</a><br>
								<!-- <div class="post-meta">
									<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
									<a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
								</div>
							<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p> -->
							<a class="btn btn-info btn-sm btn-collapsible"><i class="fa fa-cloud-download"></i> <span>Download</span></a>
							<a class="btn btn-info btn-sm btn-collapsible"><i class="fa fa-cloud-download"></i> <span>Download</span></a>
						</div>
						
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
						<div class="single-blog-thumb">
							<img src="img/bg-img/19.jpg" alt="">
						</div>
						<div class="single-blog-text text-center">
							<a class="blog-title" href="#">Tedx Moscow Conference</a>
								<div class="post-meta">
									<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>
									<a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>
								</div>
							<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
						</div>
						<div class="blog-btn">
							<a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
		
				<div class="col-12 col-md-6 col-lg-4">
					<div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
						<div class="single-blog-thumb">
							<img src="img/bg-img/20.jpg" alt="">
						</div>
						<div class="single-blog-text text-center">
							<a class="blog-title" href="#">Los Angeles Institute</a>
								<div class="post-meta">
									<a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>
									<a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>
								</div>
							<p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock body %}