{% extends "home/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
{% endblock head %}
{% block body %}

<section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'home/img/gallery/8.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">WELCOME TO INTERNSHIP FAIR</h2>
                        <div class="gap-20"></div> 
                            <a class=" confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5" href="{% url 'internships' 1 %}">Browse Internships<i
                            class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}