{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login/Sign Up</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'><link rel="stylesheet" href="{% static 'home/login.css' %}">
  <style>

  </style>
</head>
<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="POST">
			<h1>Create Account</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span> -->

			{% csrf_token %}
			
			<input type="text" name="name" maxlength="60" required="" id="id_name" placeholder="Name">
			<input type="email" name="email" autofocus="" required="" id="id_email" placeholder="Email" />
			<input type="tel" name="contact" placeholder="Contact No." id="id_contact">
			<input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Password" />
			<input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Confirm Password">
			<button type="submit" style="color:black;" id="signIn">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="POST">
			<h1>Sign in</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span> -->

			{% csrf_token %}
			
			<input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" required="" id="id_username" placeholder="Email">
			<input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Password">
			<!-- <a href="#">Forgot your password?</a> -->
			<button type="submit" style="color:black;">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To access the internship fair portal, please login first</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Don't Have An Account?</h1>
				<p>Enter your details and start your journey</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
</footer>
<!-- partial -->
  <script  src="{% static 'home/login.js' %}"></script>

</body>
</html>
